/*
.css rework

required fonts:
Comfortaa (for logo text)
Libre Barcode 39 (for logo flair)
Quicksand

colors will now be managed with .js
however, making fallback colors work just fine.

when database starts to work
capture the user's color map
on their account
and color the site using that

discord-presence-colors:
discordStatusOnline:
discordStatusAway:
discordStatusBusy:
discordStatusOffline:


*/
