/* ReSharper disable InvalidValue */
@import "assets/constants.css";
@import url('https://fonts.googleapis.com/css2?family=NTR&family=Viga&family=Libre+Barcode+39&family=Signika:wght@700&display=swap');

.bgDimmerMin {
    background: linear-gradient(180deg,
                var(--col-dimmer) 0,
                var(--col-min) 100%)
}

/* Color overrides */
.backMax {
    background: var(--col-max);
}

.bgBrighter {
    background: var(--col-brighter);
}

.bgBright {
    background: var(--col-bright);
}

.bgStandard {
    background: var(--col-standard);
}

.bgStandardDim {
    background: var(--col-standard-dim);
}

.bgDim {
    background: var(--col-dim);
}

.bgDimmer {
    background: var(--col-dimmer);
}

.bgMin {
    background: var(--col-min);
}

/* Logo classes */
.logo {
    position: relative;
    width: 144px;
    height: 104px;
}

.innerBorderShading {
    position: relative;
    width: 120px;
    height: 8px;
    background: linear-gradient(180deg,
                var(--col-min) 0,
                var(--col-min-empty) 100%)
}

.primaryText {
    position: relative;
    padding-top: 12px;
    width: 120px;
    height: 16px;
    font-family: NTR, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 16px;
    text-align: center;
    color: var(--col-max);
    text-shadow: 0 4px 4px var(--col-min-partial);
    /*! padding: 0 50%; */
}

/* modera secondaryText*/
.secondaryText {
    position: relative;
    width: 120px;
    height: 12px;
    padding-top: 8px;
    font-family: Viga, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    text-align: center;
    color: var(--col-max);
    text-shadow: 0 4px 4px var(--col-min-partial);
}

.orikivo .secondaryText {
    font-family: "Libre Barcode 39", cursive;
    font-size: 30px;
    padding-top: 14px;
}

.padTop {
    padding-top: 16px;
}

.padLeft {
    padding-left: 16px;
}

.arcadia .secondaryText {
    height: 24px;
    font-family: Signika;
    font-weight: 700;
    font-size: 26px;
}

.modera .secondaryText {
    font-family: Viga, sans-serif;
    font-size: 24px;
}

.inviteNotice {
    position: relative;
    border-left: 8px solid var(--col-max);
    display: flex;
    margin-top: 16px;
    margin-left: 16px;
    height: max-content;
    flex-direction: column;
    padding: 8px;
    align-content: center;
}

.arcadia .fullBody {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
}

.arcadia .header {
    font-family: Signika;
    font-weight: 700;
    font-size: 26px;
    color: var(--col-max);
}

.arcadia .subtitle {
    font-family: Signika;
    font-weight: 700;
    font-size: 18px;
    color: var(--col-brighter);
}

.arcadia .content {
    font-family: Signika;
    font-weight: 700;
    font-size: 16px;
    color: var(--col-bright);
}

.innerLogo {
    position: relative;
    width: 120px;
    height: 72px;
    /*       T R B L */
    margin: 8px 8px 8px 8px;
    background: var(--col-dimmer);
    border: 4px solid var(--col-max);
}

.outerLogo {
    position: absolute;
    width: 144px;
    height: 96px;
    background: linear-gradient(180deg,
                var(--col-dimmer) 0,
                var(--col-min) 100%);
}

.flatLogoShading {
    position: absolute;
    width: 144px;
    height: 8px;
    background: var(--col-dimmer);
    margin-top: 96px;
}