@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300,400,600|Source+Sans+Pro:300,400,700|Comfortaa:300,400,700|Quicksand|Libre+Barcode+39&subset=japanese');

:root
{
    --color1: rgb(110, 250, 200);
    --color2: rgb(96, 226, 185);  
    --color3: rgb(82, 202, 170);  
    --color4: rgb(68,178,155);    
    --color5: rgb(54, 154, 140);  
    --color6: rgb(40, 130, 125);  
    --color7: rgb(26, 106, 110);  
    --color8: rgb(12, 82, 95);

    --fallback-font: 'Arial';
    --logo-font: 'Comfortaa';
    --header-font: 'Quicksand';
    --body-font: 'M PLUS Rounded 1c';
    --summary-font: 'Source Sans Pro';
    --flair-font: 'Libre Barcode 39';

    --small-width: 0.25rem;
    --default-width: 0.5rem;

    --tiny-text: 12px;
    --smaller-text: 14px;
    --small-text: 16px;
    --default-text: 18px;
    --large-text: 20px;
    --logo-text: 36px;

    --large-rem-text: 2rem;

    --default-duration: 0.2s;
}

::-webkit-scrollbar { width: var(--default-width); height: var(--default-width); }
.header-list ::-webkit-scrollbar { width: var(--small-width); height: var(--small-width); }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background-color: var(--color4); transition-duration: var(--default-duration); }
::-webkit-scrollbar-thumb:hover { background-color: var(--color1); transition-duration: var(--default-duration); }
::-webkit-scrollbar-corner { background-color: var(--color1); }

a { text-decoration: none; color:inherit; }
a:active { color: inherit; }
a:-webkit-any-link { display: block; color: inherit; cursor: pointer; }

body
{
    background: var(--color8);
    color: var(--color1);
    cursor: default;
    text-orientation: upright;
    text-rendering: optimizeLegibility;

    font-family: var(--body-font);
    font-size: var(--default-text);
    margin: 0;
}

.side-header
{
    background: var(--color8);
    display: block;
    z-index: 1;
    position: fixed;
    padding-right: var(--default-width);
    width: 10rem;
    height: 100%;
}

.header
{
    font-family: var(--logo-font);
    cursor: pointer;
    float: left;
    background: var(--color7);
    width: 9rem;
    height: fit-content;
    height: -moz-fit-content;
    position: absolute;
    display: block;
    padding: var(--default-width);
    user-select: none;
}

.content-header
{
    color: var(--color1);
    text-align: center;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 36px;
}
.content-paragraph
{
    color: var(--color2);
    text-align: center;
    font-family: 'M PLUS Rounded 1c';
    font-weight: bold;
    font-size: 18px;
}

#paragraph
{
    font-family: 'M PLUS Rounded 1c';
    font-weight: bold;
    font-size: 1.5rem;
}

.header-list
{
    color: var(--color1);
    background: linear-gradient(180deg, var(--color7), var(--color8));
    transition: 0s;
    width: inherit;
    height: inherit;
    font-size: 1.25rem;
    font-family: var(--logo-font);
    float: left;
    font-weight: bold;
    display: block;
    padding: 115px var(--default-width) var(--default-width) var(--default-width);
    box-sizing: border-box;

    overflow-x: hidden;
    overflow-y: auto;
}

.widget { box-shadow: 0 var(--small-width) var(--default-width) var(--color8); }

.side-header-padding
{
    padding-left: 1 var(--default-width);
    background: transparent;
    height: 100vh;
    display: block;
    float: left;
}
.nav-bar-padding
{
    padding-top: 107px;
    display: block;
}

.side-content
{
    box-sizing: border-box;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    min-width: 438px;
    height: 100%;
    display: inline-block;
    padding: var(--default-width) var(--default-width) var(--default-width) 11rem;
    margin-right: var(--default-width);
    margin-top: var(--default-width);
    margin-bottom: var(--default-width);
    background: var(--color7);
}

.side-footer
{
    box-sizing: border-box;
    width: -webkit-fill-available;
    width: -moz-available;
    min-width: 438px;
    height: 100%;
    display: inline-block;
    padding: 0 var(--default-width) var(--default-width) 10.5rem;
    /* margin-bottom: var(--default-width); */
    background: var(--color8);
}

.footer-panel
{
    padding-top: var(--default-width);
    /* border: var(--default-width) solid var(--color7); */
    /* box-shadow: 0 var(--default-width) 0 var(--color4); */
}

.hover-gradient-box
{
    display: block;
    background: linear-gradient(180deg, var(--color8), transparent);
    margin-top: 107px;
    width: inherit;
    position: absolute;
    padding-top: 1rem;
}

.side-gradient-box
{
    display: block;
    background: linear-gradient(270deg, var(--color8), transparent);
    margin-left: 10rem;
    height: 100%;
    position: absolute;
    padding-top: 1rem;
}

.gradient-box
{
    background: linear-gradient(180deg, var(--color8), transparent);
    margin-top: var(--small-width);
    padding-top: var(--default-width);
}

.nav-bar .gradient-box
{
    margin-top: 0rem;
}

.header-list li
{
    color: var(--color1);
    display: inline-block;
    background: transparent;
    border-left: 0rem solid transparent;
    padding-left: 0rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    transition: var(--default-duration);
    width: 100%;
}
.header-list li:hover
{
    cursor: pointer;
    background: linear-gradient(90deg, var(--color4), transparent);
    border-left: var(--small-width) solid rgba(110, 250, 200, 100);
    font-weight: bolder;
    padding-left: var(--small-width);
    transition: var(--default-duration);
}

.centered-logo
{
    box-align: center;
    -moz-box-align: center;
    border: var(--small-width) solid var(--color1);
    color: var(--color1);
    display: block;
    font-size: var(--large-rem-text);
    height: auto;
    padding: var(--default-width) var(--default-width) 0 var(--default-width);
    margin: 0 auto;
    text-align: center;
    width: 7.5rem;
}
.logo
{
    border: var(--small-width) solid var(--color1);
    color: var(--color1);
    display: block;
    float: left;
    font-size: var(--large-rem-text);
    height: auto;
    padding: var(--default-width) var(--default-width) 0 var(--default-width);
    position: initial;
    text-align: center;
    width: 7.5rem;
}
.logo #title { font-family: var(--logo-font); font-weight: bold; }
.logo #flair { font-family: var(--flair-font); }

.module-pointer
{
    background: transparent;
    display: block;
    height: 1rem;
    width: 100%;
}

.module-header
{
    border: var(--small-width) solid var(--color1);
    color: var(--color1);
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    float: left;
    height: auto;
    margin-right: var(--small-width);
    padding: var(--default-width) var(--default-width) 0 var(--default-width);
    text-align: center;
    user-select: none;
    width: fit-content;
}

.module-header #title
{
    font-family: var(--logo-font);
    font-weight: bold;
    padding-bottom: var(--small-width);
}

.module-header #flair
{
    font-family: var(--flair-font);
    font-size: 1.4rem;
}

#flair
{
    font-family: var(--flair-font);
}

.margin { margin: var(--default-width); }

#title { font-family: var(--logo-font); font-weight: bold; }

.header:hover .nav-bar { margin-left: 9.5rem; transition: var(--default-duration); }

.nav-bar
{
    display: unset;
    left: var(--default-width);
    margin-left: 0;
    padding-left: var(--default-width);
    position: absolute;
    top: var(--default-width);
    transition: var(--default-duration);
    z-index: -1;
}

.current-nav-button
{
    background: var(--color4);
    color: var(--color8);
    cursor: default;
    font-family: var(--header-font);
    font-size: 1rem;
    width: auto;
    font-weight: bold;
    padding: 0.4rem;
    height: 100%;
}

.nav-button
{
    background: var(--color1);
    color: var(--color8);
    font-family: var(--header-font);
    font-size: 1rem;
    width: auto;
    font-weight: bold;
    padding: 0.4rem;
    height: 100%;
}

.module { box-sizing: border-box; padding: var(--default-width); }
.module-summary
{
    position: relative;
    height: auto;
    border-left: var(--small-width) solid;
    width: -webkit-fill-available;
    margin-top: var(--default-width);
    font-size: var(--small-text);
    padding-left: var(--default-width);
    font-family: var(--summary-font);
    text-align: left;
    display: inline-block;
}
.module-info
{
    box-sizing: border-box;
    background: var(--color8);
    width: 100%;
    padding: var(--small-width);
    display: inline-block;
}

.module-commands
{
    float: left;
    display: block;
    box-sizing: border-box;
    width: auto;
}

.module-command
{
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    width: auto;
    margin-top: var(--small-width);
    margin-right: var(--small-width);
    color: var(--color8);
    background: var(--color1);
    font-family: 'Quicksand';
    font-weight: bold;
    padding: var(--small-width);
    font-size: 1.1rem;
}

.module-data
{
    padding: var(--default-width);
    background: var(--color6);
    box-shadow: 0 var(--small-width) var(--color8);
}
.command-info-border
{
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(90deg, var(--color7), var(--color8));
    padding: var(--small-width);
    margin-top: var(--small-width);
    margin-bottom: var(--small-width);
    transition: var(--default-duration);
}

.command-info-border:hover
{
    padding: var(--default-width);
    background: linear-gradient(90deg, var(--color8), var(--color7));
    transition: var(--default-duration);
}

.command-info-border::after
{
    background-image: linear-gradient(90deg, var(--color8), var(--color7));
    box-sizing: unset;
    float: left;
    width: inherit;
    height: var(--small-width);
    margin-top: var(--small-width);
    content: no-close-quote;
}

.command-parameter { cursor: pointer; user-select: none; font-weight: normal; transition: var(--default-duration); }
.command-parameter:hover { font-weight: bold; transition: var(--default-duration); }

.command-aliases
{
    font-family: var(--fallback-font);
    font-size: var(--smaller-text);
}
.command-info
{
    display: block;
    box-sizing: border-box;
    background: var(--color6);
    padding: var(--default-width);
    width: 100%;
    font-family: var(--body-font);
}
.command-syntax
{
    font-family: var(--header-font);
    font-size: 20px;
}
.command-summary
{
    margin-top: var(--small-width);
    padding-left: var(--default-width);
    border-left: var(--small-width) solid;
    font-family: var(--summary-font);
    font-size: var(--small-text);
}

/* parameters are args within a command */
.parameter-name
{
    font-size: 20px;
    font-family: var(--header-font);
    font-weight: bold;
}
.parameter-type-bubble
{
    -webkit-box-align: start;
    display: flex;
    border: 2px solid;
    border-radius: 50%;
    float: left;
    height: 10px;
    padding: 0;
    margin-right: 4px;
    margin-top: 4px;
    width: 10px;
}
.parameter-type
{
    -webkit-box-align: end;
    display: flex;
    float: none;
    font-size: 12px;
    font-weight: bold;
    outline: 0;
    padding-bottom: var(--default-width);
    vertical-align: baseline;
    white-space: nowrap;
    width: auto;
}
.parameter-summary
{
    border-left: var(--small-width) solid;
    font-family: var(--summary-font);
    font-size: var(--small-text);
    padding-left: var(--default-width);
}
.parameter-info
{
    box-shadow: 0 var(--small-width) var(--color8);
    display: none;
    box-sizing: border-box;
    color: var(--color1);
    /*background: var(--color7);*/
    background: linear-gradient(90deg, var(--color8), var(--color7));
    padding: var(--default-width);
    margin-bottom: var(--default-width);
    width: 100%;
    font-family: var(--body-font);
}

.footer-version
{
    text-align: center;
    font-family: var(--fallback-font);
    color: var(--color1);
    font-size: 24px;
    font-weight: bold;
}

.footer-developer
{
    text-align: center;
    font-family: var(--body-font);
    color: var(--color4);
    font-size: var(--small-text);
}

.left-container
{
    width: 100%;
    height: auto;
    padding-top: var(--default-width);
    padding-bottom: var(--default-width);
}

.left-container #title
{
    text-align: center;
    font-family: var(--header-font);
    font-size: var(--logo-text);
    background: linear-gradient(90deg, var(--color6), transparent);
    color: var(--color1);
    padding: var(--default-width);
}
.left-container #paragraph
{
    border-left: var(--default-width) solid;
    padding-left: var(--default-width);
    font-weight: normal;
    font-family: var(--header-font);
    font-size: var(--default-text);
    color: var(--color2);
}
.left-container #image
{
    float: right;
}

.small-padder
{
    padding-top: 2rem;
    width: 100%;
}

.padder
{
    padding-top: 6rem;
    width: 100%;
}

.right-container #image
{
    float: left;
}
