/* partial elements derived from Discord */
@import "constants.css";

/* discord generic elements */

/* this is what is used to work with discord elements */
.discordContainer {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: Whitney, Helevetica Neue, Helvetica, Arial, sans-serif;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: transparent;
}

.content {
    padding-right: 10px;
}

.contentCozy {
    margin-left: 80px;
}

.emoji {
    -o-object-fit: contain;
    object-fit: contain;
    width: 1.375em;
    height: 1.375em;
    vertical-align: bottom;
}

.emoji .jumboable {
    width: 2rem;
    height: 2rem;
}

.markup {
    font-size: 1rem;
    line-height: 1.375;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: #dcddde;
    font-weight: 400;
}
.markup blockquote {
    margin: 8px 0;
    text-indent: 0;
}
.markup blockquote, .markup pre {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 90%;
}
.markup code {
    font-size: 0.875rem;
    line-height: 1rem;
    text-indent: 0;
    background-color: #2f3136;
}
.markup code .inline {
    width: auto;
    height: auto;
    padding: .2em;
    margin: -.2em 0;
    border-radius: 3px;
    font-size: 85%;
    /*font-family: SourceCodePro;*/
    text-indent: 0;
    border: none;
}
.markup strong {
    font-weight: 700;
}


.blockquoteContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.blockquoteDivider {
    /* #4f545c; */
}
.blockquoteContainer .blockquoteDivider {
    margin: 8px 0;
    width: 4px;
    border-radius: 4px;
}
.blockquoteContainer blockquote {
    padding: 0 8px 0 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-indent: 0;
}


/* discord embed elements */
.embedPill {
    width: 4px;
    background-color: #cacbce;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.discordDark .embedPill {
    background-color: #4f545c;
}

.embedInner {
    padding: 8px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: hsla(0, 0%, 97.6%, .3);
    border: 1px solid hsla(0, 0%, 80.4%, .3);
}

.discordDark .embedInner {
    background-color: rgba(46, 48, 54, .3);
    border-color: rgba(46, 48, 54, .6);
}

.embed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    max-width: 520px;
}

.embedContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.embedContentInner {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    overflow: hidden;
}

.embedThumbnail {
    margin-left: 16px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.embedTitle {
    font-size: 0.875rem;
    font-weight: 500;
    display: inline-block;
    color: #4f545c;
}

.discordDark .embedTitle {
    color: #fff!important;
}

.embedDescription {
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 400;
    color: rgba(79, 83, 91, .9);
    letter-spacing: 0;
    white-space: pre-line;
}

.discordDark .embedDescription {
    color: hsla(0, 0%, 100%, .6);
}

.embedAuthor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.embedAuthorIcon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 50%;
}

.embedAuthorName {
    font-size: 0.875rem;
    font-weight: 400;
    color: #4f545c!important;
}

.embedFields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #36393f;
}

.embedField {
    margin-top: 4px;
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    min-width: 100%;
}

.embedFieldInline {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 150px;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.embedFieldName {
    margin-bottom: 4px;
    font-size: 0.875rem;
    font-weight: 400;
}

.embedFieldValue {
    font-size: 0.875rem;
    font-weight: 400;
    white-space: pre-line;
}

.discordDark .embedFieldValue {
    color: hsla(0, 0%, 100%, .6);
}

.discordDark .embedAuthorName, .discordDark .embedFieldName {
    color: #fff!important;
}

.embedFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.embedFooterText {
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(79, 83, 91, .6);
    letter-spacing: 0;
}

.embedFooterIcon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 50%;
}

.discordDark .embedFooterText {
    color: hsla(0, 0%, 100%, .6);
}

.embedMargin {
    margin-top: 4px;
}

.embedMarginLarge {
    margin-top: 8px;
}

.embed strong {
    font-weight: 600;
}

.embed .emoji {
    -o-object-fit: contain;
    object-fit: contain;
    width: 1rem;
    height: 1rem;
    min-width: 22px;
    min-height: 22px;
    margin: 0 .05em 0 .1em;
    vertical-align: -.4em;
}

/* if the message was edited */
.edited {
    margin-left: .3em;
    font-size: 0.625rem;
    cursor: pointer;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.discordDark .edited {
    color: hsla(0, 0%, 100%, .2);
}

.wrapper {
    padding: 0 2px;
    font-weight: 500;
}

.discordDark .wrapper {
    color: #7289da;
    background-color: rgba(114, 137, 218, .1);
}

.wrapperHover {
    -webkit-transition: background-color 50ms ease-out, color 50ms ease-out;
    transition: background-color 50ms ease-out, color 50ms ease-out;
    cursor: pointer;
}

.anchor {
    color: #00b0f4;
    text-decoration: none;
}

.messagesContainer {
    margin: 0;
    overflow-x: hidden;
    background-color: #36393f;
    contain: layout size;
}

.scroller {
    overflow-y: scroll;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.messageInnerContainer {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.messageContainer {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.messageContainerCozy {
    padding-top: 20px;
    padding-bottom: 20px;
}

.messageContainerCozyBounded {
    overflow: hidden;
}

/* used on embeds and images, to help keep their content to 1 per 'line' */
.container {
    padding-right: 4px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


/* not an official class, used to constrict large thumbnails. */
.embedThumbnailMax {
    width: 80px;
    height: 80px;
}

.embedThumbnail img {
    display: block;
}

.imageWrapper img {
    position: absolute;
}

a img {
    border: none;
}

.imageContainerCozy * {
    margin-top: 8px;
}

.genericContainerCozy:not(:empty) {
    margin-bottom: 8px;
}

.imageWrapper {
    display: block;
    position: relative;
    -webkit-user-select: text;
    -moz-user-select: text;
    overflow: hidden;
    border-radius: 3px;
}

.imageZoomIn {
    cursor: nesw-resize;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.clickable {
    cursor: pointer;
}

.isMentioned {
    margin: -.1rem -.2rem .1rem;
    padding: .1rem .2rem;
}

.discordDark {
    background: rgba(250, 166, 26, .1);
}

.isMentionedCozy {
    border-radius: 0 3px 3px 0;
    position: relative;
}

.isMentionedCozy:after {
    position: absolute;
    top: 0;
    left: -6px;
    bottom: 0;
    content: " ";
    width: 2px;
    background: rgba(250, 166, 26, .2);
    border-left: 4px solid #faa61a;
    border-radius: 3px 0 0 3px;
}

.mention .isMentioned {
    padding: 0;
}
